/* Block */
.c-pagination {
  @apply py-md;
}

/* Elements */
.c-pagination__link:any-link {
  @apply text-black;
}

.c-pagination__list {
  @apply grid grid-cols-3;
  justify-items: center;
}
.c-pagination__prev {
  grid-column: 1;
  justify-self: left;
}
.c-pagination__current {
  grid-column: 2;
}
.c-pagination__next {
  grid-column: 3;
  justify-self: right;
}
