/* Block */
.c-share {
  @apply text-delta;
}

/* Elements */
.c-share__list {
  @apply flex flex-wrap justify-center;

  & li + li {
    @apply ml-sm;
  }
}

.c-share__label {
  @apply block p-sm rounded-md;

  &:any-link {
    @apply no-underline text-white;
  }
}

/* Brands */
.c-share__email {
  @apply bg-neutral;
}
.c-share__facebook {
  background-color: #3b5998;
}
.c-share__linkedIn {
  background-color: #0077b5;
}
.c-share__rss {
  background-color: #ee802f;
}
.c-share__twitter {
  background-color: #38a1f3;
}
