<div class="c-hero c-hero--inverse">
  <header class="c-hero__title">
    <h1>{{ title }}</h1>
  </header>

  {% if content %}
    <div class="c-hero__subtitle s-content">
      {{ content | safe }}
    </div>
  {% endif %}
</div>
