<article class="c-post">
  <header class="c-post__header">
    <h2 class="c-post__title">
      <a class="c-post__link" href="{{- page.url | url -}}">{{ page.data.title }}</a>
    </h2>
    <p class="c-post__subtitle">
      <time datetime="{{- page.date | date("yyyy-MM-dd") -}}">{{ page.date | date("d MMMM yyyy") }}</time>
    </p>
  </header>
  <section class="c-post__content s-content u-spacer--small">
    {{ utils.eval(page.data.page.excerpt) | markdown | safe }}
  </section>
</article>
