{
  "root": true,
  "extends": [
    "plugin:astro/recommended",
    "plugin:astro/jsx-a11y-strict"
  ],
  "parserOptions": { "ecmaVersion": 2022 },
  "reportUnusedDisableDirectives": true,
  "overrides": [{
    "files": ["*.astro"],
    "parser": "astro-eslint-parser"
  }],
  "rules": {
    "max-len": ["error", 100, { "ignoreUrls": true }]
  }
}
