{
  "root": true,
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-param-reassign": ["error", { "props": false }]
  },
  "reportUnusedDisableDirectives": true
}
