---
title: RSVP
---

{% extends "../_layouts/wedding.njk" %}

{% block styles %}
  {{ super() }}
  <style>
    body {
      display: grid;
      grid-template-rows: auto 1fr;
      height: 100vh; /* Span full height. */
    }
  </style>
{% endblock %}

{% block content %}
  <div class="border-t-4 w-border-brown mt-2 mx-2">
    <iframe class="w-full h-full" src="https://docs.google.com/forms/d/e/1FAIpQLSc7_YiH6kNZcNBAaOI7NLdVaurgfnkC-y1nFeUqSHotZPchxw/viewform?embedded=true">Loading…</iframe>
  </div>
{% endblock %}
