{%- import "utils.njk" as utils -%}
{% set T = i18n[settings.language] %}

<!doctype html>
<html lang="{{- settings.language -}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{- title }} • {{ settings.title -}}</title>

    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block csp %}
      {# In development, relax CSP. #}
      {% set csp = "default-src 'none'; connect-src links.services.disqus.com; font-src 'self'; frame-src disqus.com c.disquscdn.com platform.twitter.com syndication.twitter.com; img-src 'self' data: c.disquscdn.com referrer.disqus.com *.twimg.com platform.twitter.com syndication.twitter.com; script-src 'self' c.disquscdn.com disqus.com vseventer.disqus.com cdn.syndication.twimg.com platform.twitter.com syndication.twitter.com 'sha256-ncj73IowkxkWqA+gh/v1bAToTGXDSC8Il7C/5HQl3fM='; style-src 'self' 'unsafe-inline' c.disquscdn.com platform.twitter.com; upgrade-insecure-requests" %}
      {% if env.env === 'development' %}
        {% set csp = "default-src 'none'; connect-src 'self'; font-src 'self'; frame-src platform.twitter.com syndication.twitter.com; img-src 'self' data: *.twimg.com platform.twitter.com syndication.twitter.com; script-src 'self' 'unsafe-eval' 'unsafe-inline' cdn.syndication.twimg.com platform.twitter.com syndication.twitter.com; style-src 'self' 'unsafe-inline' platform.twitter.com; upgrade-insecure-requests" %}
      {% endif %}

      <meta http-equiv="Content-Security-Policy" content="{{- csp | safe -}}" />
    {% endblock %}

    {% if page.excerpt %}
      <meta name="description" content="{{- utils.eval(page.excerpt) | markdown | striptags -}}" />
    {% endif %}

    {% block styles %}
      <link rel="stylesheet" href="~styles/style.scss" />

      {# Any additional styles can be inserted here. #}
    {% endblock %}

    {% if not eleventyExcludeFromCollections %}
      <link href="{{- page.url | url | parseUrl -}}" rel="canonical" />
    {% endif %}

    {% block head %}
      {# Any custom heading code can be inserted here. #}
    {% endblock %}
  </head>
  <body>
    {% block header %}
      {# Any leading HTML can be inserted here. #}

      {% include "menu.njk" %}
    {% endblock %}

    {% block content %}
      {{ content | safe }}
    {% endblock %}

    {% block footer %}
      {# Any trailing HTML can be inserted here. #}
    {% endblock %}

    {% block scripts %}
      {# Any additional scripts can be inserted here. #}

      <script src="~scripts/main.js" async></script>
    {% endblock %}
  </body>
</html>
