{% extends "../_layouts/default.njk" %}

{% block content %}
  <article class="c-post">
    <header class="c-hero">
      <h1 class="c-hero__title">{{ title }}</h1>
      <p class="c-hero__subtitle">
        <time datetime="{{- page.date | date("yyyy-MM-dd") -}}">{{ page.date | date("d MMMM yyyy") }}</time>
      </p>
    </header>
    <div class="container md:max-w-screen-sm">
      <section class="s-content">
        {{ content | safe }}
      </section>

      <section class="c-post__section c-post__section--mt c-share">
        <ul class="c-share__list">
          <li>
            <a class="c-share__label c-share__twitter" href="https://twitter.com/intent/tweet?url={{- page.url | url | parseUrl | urlencode -}}&text={{- title | urlencode -}}&hashtags={{- page.data.tags | urlencode -}}">
              <i class="fab fa-twitter"></i>&nbsp;
              <span>{{ T.social__twitter }}</span>
            </a>
          </li>
          <li>
            <a class="c-share__label c-share__facebook" href="https://facebook.com/sharer/sharer.php?u={{- page.url | url | parseUrl | urlencode -}}">
              <i class="fab fa-facebook"></i>&nbsp;
              <span>{{ T.social__facebook }}</span>
            </a>
          </li>
          <li>
            <a class="c-share__label c-share__linkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url={{- page.url | url | parseUrl | urlencode -}}&title={{- title | urlencode -}}&source={{- project.title | urlencode -}}">
              <i class="fab fa-linkedin"></i>&nbsp;
              <span>{{ T.social__linkedin }}</span>
            </a>
          </li>
          <li>
            <a class="c-share__label c-share__email" href="mailto:?subject={{- title | urlencode -}}&body={{- page.url | url | parseUrl | urlencode -}}">
              <i class="far fa-envelope"></i>&nbsp;
              <span>{{ T.social__email }}</span>
            </a>
          </li>
        </ul>
      </section>

      {% set prevPost = collections.blog | getPreviousCollectionItem(page) %}
      {% set nextPost = collections.blog | getNextCollectionItem(page) %}

      {% if prevPost or nextPost %}
        <section class="c-post__section c-related text-zeta">
          {% if nextPost %}
          {% set page = nextPost %}
            <div class="c-related__item c-related__next">
              <p class="c-related__label">{{ T.related__next }}</p>
              {% include "summary.njk" %}
            </div>
          {% endif %}
          {% if prevPost %}
            {% set page = prevPost %}
            <div class="c-related__item c-related__prev">
              <p class="c-related__label">{{ T.related__prev }}</p>
              {% include "summary.njk" %}
            </div>
          {% endif %}
        </section>
      {% endif %}

      <section class="c-post__section">
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </section>
    </div>
  </article>
{% endblock %}
