/**
 * Separate menu items starting at the GitHub menu item. Consequent menu items
 * will be positioned on the far right.
 */
.menu-github {
  flex: 1;

  text-align: right;
}

/**
 * Hide icon label.
 */
.menu-github,
.menu-linkedin,
.menu-twitter {
  /* stylelint-disable-next-line selector-max-class */
  .c-menu__label {
    display: none;
  }
}
