<!doctype html>
<html lang="{{ .Language }}">
  <head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="{{ .Permalink }}" rel="canonical" />
    <meta name="description" content="{{ .Summary }}" />
    {{ if (or .IsHome .IsPage) }}
      <meta name="robots" content="index, follow" />
    {{ else }}
      <meta name="robots" content="noindex, follow" />
    {{ end }}

    {{ block "styles" . }}
      <link rel="stylesheet" href="~scss/style.scss" />
    {{ end }}
  </head>
  <body>
    {{ block "nav" . }}
      {{/* partial "nav" . */}}
    {{ end }}

    <div class="grid grid--align-center">
      {{ if .IsHome }}
        <div class="grid__col-md-8">
          {{ template "content" . }}
        </div>
        <div class="grid--first grid__col-md-4 grid__col-sm--bleed">
          {{ partial "banner" . }}
        </div>
      {{ else }}
        <div class="grid__col-xs-12">
          {{ template "content" . }}
        </div>
      {{ end }}

      <div class="grid__col-xs-12 grid__cell-footer grid__col--bleed-y">
        {{ partial "social" . }}
      </div>
    </div>

    {{ block "scripts" . }}{{ end }}
  </body>
</html>