<!doctype html>
<html lang="{{ .Language }}">
  <head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="{{ .Permalink }}" rel="canonical" />
    <meta name="description" content="{{ .Summary }}" />
    {{ if (or .IsHome .IsPage) }}
      <meta name="robots" content="index, follow" />
    {{ else }}
      <meta name="robots" content="noindex, follow" />
    {{ end }}

    {{ block "styles" . }}
      <link rel="stylesheet" href="~scss/style.scss" />
    {{ end }}
  </head>
  <body>
    {{ block "nav" . }}
      {{/* partial "nav" . */}}
    {{ end }}

    <div class="container">
      {{ template "content" . }}
      {{ if .IsHome }}
        {{ partial "banner" . }}
      {{ end }}
      {{ partial "social" . }}
    </div>

    {{ block "scripts" . }}{{ end }}
  </body>
</html>