// Custom.
// -------

// Elements.
a {
  color: #1e90ff; // Dodgerblue.
  text-decoration: underline;

  &:hover { text-decoration: none; }
}

// Styles.
.article {
  margin: 0 auto;
  max-width: 33rem;

  @media screen and (min-width: 37em) {
    blockquote {
      margin-left: -$default-spacing;
    }
    ol, ul {
      padding-left: 0;
    }
    ol ol, ul ul, ol ul, ul ol {
      padding-left: $default-spacing;
    }
  }

  // Elements.
  :last-child {
    margin-bottom: 0;
  }
}

.link {
  // Modifiers.
  &--unstyled {
    color: #000000;
    text-decoration: none;
  }
}

.menu {
  border-top: $border-width-lg solid;
  margin-top: -$border-width;

  // Elements.
  &__menu {
    margin-top: -$border-width;
  }
}

.portrait {
  @media screen and (min-width: $reflex-md) {
    border: $border-width solid;
    border-radius: 50%;
    padding: $border-width;
  }
}