// Custom.
// -------

.container {
  @include grid($align-items: center, $justify-content: center);
}

.article-wrapper {
  @include grid-col(12);
  @include respond-to('medium') {
    @include grid-col(8);
  }
}

.list-inline__item {
  @include grid-col($flex-grow: 0);
}

.menu {
  @include grid-col(12, $grid-gutter-y: 0);

  border-top: $border-width-lg solid;
  margin-top: -$border-width-lg;

  &__inner {
    justify-content: center;
    margin-bottom: 0;
  }
}

.portrait {
  @include grid-col(12, $grid-gutter: 0, $order: -1);
  @include respond-to('medium') {
    @include grid-col(4, $order: -1);
  }
  text-align: center;

  // Elements.
  &__picture {
    @include respond-to('medium') {
      border: $border-width solid;
      border-radius: 50%;
      padding: $border-width;
    }
  }
}