// Imports.
// --------

@import "mixins/modular-scale";


// Typography.
// -----------

// Base style.
:root {
  font-family: Georgia, serif;
  font-size: $font-size;
  line-height: $line-height / 1rem; // unit-less.
}

// Absolute styles.
h1 {
  @include modular-scale($ms-ratio,  4);
}
h2 {
  @include modular-scale($ms-ratio,  3);
}
h3 {
  @include modular-scale($ms-ratio,  2);
}
h4 {
  @include modular-scale($ms-ratio,  1);
}
h5 {
  @include modular-scale($ms-ratio,  0);
}
h6 {
  @include modular-scale($ms-ratio, -1);
}
h4, h5, h6 {
  margin-bottom: 0;
}

// Relative styles.
pre, small, sub, sup {
  font-size: 1em / $ms-ratio;
}