// Variables.
// ----------

// Typography.
$font-size: 16px;
$line-height: 1.5rem;
$max-font-size: 20px;
$ms-ratio: 5 / 4; // Major third.

// Spacing.
$default-spacing: $line-height;


// Constants.
// ----------

// Dimensions.
$border-width: 1rem * 1px / $font-size; // in rems.

$border-width-sm: 0.5 * $border-width;
$border-width-md: $border-width;
$border-width-lg: 2 * $border-width;