<picture class="portrait" role="banner">
  <source
    media="(min-width: 992px)"
    sizes="25vw"
    srcset="
      ${require('~img/portrait.jpg?width=240&height=240&jpegProgressive=false&jpegTrellisQuantisation=true&jpegOvershootDeringing=true&jpegOptimiseScans=true')} 240w,
      ${require('~img/portrait.jpg?width=480&height=480&jpegProgressive=false&jpegTrellisQuantisation=true&jpegOvershootDeringing=true&jpegOptimiseScans=true')} 480w
    " />
  <img
    class="portrait__picture img--responsive"
    src="~img/portrait.jpg?width=960&height=336&jpegProgressive=false&jpegTrellisQuantisation=true&jpegOvershootDeringing=true&jpegOptimiseScans=true"
    sizes="100vw"
    srcset="
      ${require('~img/portrait.jpg?width=480&height=168&jpegProgressive=false&jpegTrellisQuantisation=true&jpegOvershootDeringing=true&jpegOptimiseScans=true')} 480w,
      ${require('~img/portrait.jpg?width=960&height=336&jpegProgressive=false&jpegTrellisQuantisation=true&jpegOvershootDeringing=true&jpegOptimiseScans=true')} 960w
    " />
</picture>