<nav class="c-menu">
  <div class="s-container s-container--padded">
    <ul class="c-menu__list">
      {{ range .Site.Menus.main }}

        {{/* Add unique class to each menu item. */}}
        {{ $classes := slice (printf "menu-%s" (urlize (default .Name .Identifier))) }}
        {{ if $.IsMenuCurrent "main" . }}
          {{ $classes = $classes | append "is-active" }}
        {{ end }}

        <li class="{{ delimit $classes " " }}">
          <a class="c-menu__link" href="{{ .URL }}">
            {{ .Pre }}
            <span class="c-menu__label">{{ .Name }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
</nav>
