<nav class="menu" role="complementary">
  <ul class="grid grid--justify-center menu__menu" role="menubar">
    <li class="grid__cell--padding-md" role="menuitem">
      <a aria-label="{{ i18n "social.github" }}" class="link--unstyled" href="https://github.com/vseventer"><span class="icon icon-github-with-circle"></a>
    </li>
    <li class="grid__cell--padding-md" role="menuitem">
      <a aria-label="{{ i18n "social.linkedin" }}" class="link--unstyled" href="https://www.linkedin.com/in/markvanseventer/"><span class="icon icon-linkedin-with-circle"></a>
    </li>
    <li class="grid__cell--padding-md" role="menuitem">
      <a aria-label="{{ i18n "social.twitter" }}" class="link--unstyled" href="https://twitter.com/vseventer"><span class="icon icon-twitter-with-circle"></a>
    </li>
  </ul>
</nav>